###### The Python Interpreter

<pre>(base) <font color="#8AE234"><b>ps15@palash</b></font>:<font color="#729FCF"><b>~</b></font>$ python
Python 3.7.3 (default, Mar 27 2019, 22:11:17) 
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type &quot;help&quot;, &quot;copyright&quot;, &quot;credits&quot; or &quot;license&quot; for more information.
&gt;&gt;&gt; a = 5
&gt;&gt;&gt; print(a)
5
</pre>

**Running a python file from the terminal:**

<pre>(base) <font color="#8AE234"><b>ps15@palash</b></font>:<font color="#729FCF"><b>~/Documents/pythonfordataanalysis/ch02</b></font>$ python hello.py 
Hello World
</pre>

**%run command**

In [1]:
%run hello.py

Hello World

In [2]:
%debug
for i in [1,2,3,4,5,6,7,8]:
    print(i*10)
    if i>6:
        break

ERROR:root:No traceback has been produced, nothing to debug.

10
20
30
40
50
60
70

##### Running the ipython shell

<pre>(base) <font color="#8AE234"><b>ps15@palash</b></font>:<font color="#729FCF"><b>~</b></font>$ ipython
Python 3.7.3 (default, Mar 27 2019, 22:11:17) 
Type &apos;copyright&apos;, &apos;credits&apos; or &apos;license&apos; for more information
IPython 7.8.0 -- An enhanced Interactive Python. Type &apos;?&apos; for help.

<font color="#008700">In [</font><font color="#8AE234"><b>1</b></font><font color="#008700">]: </font><font color="#008700"><b>import</b></font> <font color="#0087D7"><b>numpy</b></font> <font color="#008700"><b>as</b></font> <font color="#0087D7"><b>np</b></font>                                                                                                                                                                                  

<font color="#008700">In [</font><font color="#8AE234"><b>2</b></font><font color="#008700">]: </font>data = {i: np.random.randn() <font color="#008700"><b>for</b></font> i <font color="#AF00FF"><b>in</b></font> <font color="#008700">range</font>(<font color="#008700">7</font>)}                                                                                                                                                     

<font color="#008700">In [</font><font color="#8AE234"><b>3</b></font><font color="#008700">]: </font>data                                                                                                                                                                                                
<font color="#870000">Out[</font><font color="#EF2929"><b>3</b></font><font color="#870000">]: </font>
{0: -0.2093417050041937,
 1: 0.08484634866371124,
 2: 1.3099173104203934,
 3: 0.13958889675126734,
 4: 0.12043436880564196,
 5: 0.5593246982171733,
 6: -1.7538739546301434}
</pre>

<pre><font color="#008700">In [</font><font color="#8AE234"><b>4</b></font><font color="#008700">]: print</font>(data) <font color="#5F8787"><i># unformated output like python shell</i></font>                                                                                                                                                   
{0: -0.2093417050041937, 1: 0.08484634866371124, 2: 1.3099173104203934, 3: 0.13958889675126734, 4: 0.12043436880564196, 5: 0.5593246982171733, 6: -1.7538739546301434}
</pre>

###### Object introspection with wildcards

In [3]:
np.*mat*?
"""
np.__format__
np.asmatrix
np.bmat
np.emath
np.format_float_positional
np.format_float_scientific
np.format_parser
np.mat
np.math
np.matmul
np.matrix
np.matrixlib
"""

'\nnp.__format__\nnp.asmatrix\nnp.bmat\nnp.emath\nnp.format_float_positional\nnp.format_float_scientific\nnp.format_parser\nnp.mat\nnp.math\nnp.matmul\nnp.matrix\nnp.matrixlib\n'

###### The %run command

In [4]:
!cat ipython_test_script.py

def f(x, y, z):
    return (x + y)/z

a = 5
b = 6
c = 7.5

result = f(a, b, c)

In [5]:
# using %run we can also load script objects, imports, variables, functions to this environment
%run ipython_test_script.py

In [6]:
a,b,c,result

(5, 6, 7.5, 1.4666666666666666)

In [7]:
f(1,2,3)

1.0

###### To load script code into ipython cell

In [8]:
# %load ipython_test_script.py
def f(x, y, z):
    return (x + y)/z

a = 5
b = 6
c = 7.5

result = f(a, b, c)

###### GIving access of ipython variables to a script

In [9]:
!cat ipython_test_script\ 2.py

a = 5
b = 6
c = 7.5

result = multiply(a, b, c)
print(result)

In [10]:
def multiply(x,y,z):
    return x*y*z

In [11]:
%run -i ipython_test_script 2.py

In [12]:
result

1.4666666666666666

###### Interrupting Running code

Ctrl+C can be used when using ipython terminal and GUI interrupt button in case of Jupyter.

In [13]:
!cat ipython_test_script\ 3.py

import time

for i in range(10):
	time.sleep(1)

In [14]:
%run ipython_test_script\ 3.py

##### Dynamic references, strong types

Objects in pyton have no type associated with them.

In [15]:
a = 5
type(a)

int

In [16]:
a = 'foo'
type(a)

str

In [17]:
a = 5
isinstance(a, int)

True

In [18]:
b = 5
isinstance(b, str)

False

In [19]:
isinstance(b, (float, str, int))

True

##### Attributes and methods

In [20]:
a = 'foo'
getattr(a, 'split')# returns actual function / attribute

In [21]:
b = getattr(a, 'find')

In [22]:
b('o')

1

##### Duck Typing

In [23]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [24]:
isiterable(a)

True

In [25]:
isiterable(b)

False

In [26]:
isiterable(5.5)

False

In [27]:
# convert an iterable object to list
if not isinstance(a, list) and isiterable(a):
    a = list(a)
    print(a)

['f', 'o', 'o']

###### Binary operators and comparisons

Binary math operators and comparisons:

In [28]:
5 - 7

-2

In [29]:
12+21.5

33.5

In [30]:
5<=2

False

Check if 2 references refer to the same object:

In [31]:
a = [1, 2, 3]
b = a
c = list(a)

In [32]:
a is b

True

In [33]:
a is not c # since list always creates a new copy of the object

True

In [34]:
a == c

True

Common use of **is** and **is not** is to chek if a variable is None or not.

In [35]:
a = None
a is None

True

##### Mutable and immutable objects

Mutable: objects or values of which can be modified

In [36]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

Immutable: values can not be modified

In [37]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalars Types

##### Numeric Types

In [40]:
ival = 15675213
ival = ival**10
ival # int can store arbitarily large numbers

895642119054977108304749259159978305559599797157147865935238282467787849

In [41]:
fval = 7.423
fval = 6.78e-5

In [42]:
fval

6.78e-05

In [43]:
3/2

1.5

In [44]:
3//2

1

##### Strings

In [45]:
c = """
1
2
"""

In [46]:
c.count('\n')

3

In [47]:
# String immutability
f = "this cann't be altered"
f[6] = 'g'

TypeError: 'str' object does not support item assignment

In [48]:
b = f.replace("cann't", 'can not')
b

'this can not be altered'

In [49]:
f # unmodified variable

"this cann't be altered"

In [50]:
# type conversion
a = 5.6
a = str(a)
a

'5.6'

In [51]:
# since string is a sequence of Unicode characters
# since list is also a sequence
s = list(f)
print(s) # since

['t', 'h', 'i', 's', ' ', 'c', 'a', 'n', 'n', "'", 't', ' ', 'b', 'e', ' ', 'a', 'l', 't', 'e', 'r', 'e', 'd']

In [52]:
f[:3] # slicing syntax, can be used for various python sequence objects

'thi'

Escape characters

In [53]:
s = '12\\34'
s

'12\\34'

In [54]:
print(s)

12\34

In [55]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [56]:
print(s)

this\has\no\special\characters

string concetanation

In [57]:
a = 'first half'
b = 'second half'
a + ' ' + b

'first half second half'

Templating / formatting

In [58]:
# 1st argument = floating point with 2 precisions, 2nd arg = string type, 3rd arg = integer
template = '{0:.2f} {1:s} are worth US${2:d}'

In [59]:
template

'{0:.2f} {1:s} are worth US${2:d}'

In [60]:
template.format(4.556, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

##### Bytes and Unicodes

In [61]:
# Default encoding is unicode in python 3.x
val = 'español'
val

'español'

In [62]:
# unicode to utf-8 conversion
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [63]:
type(val_utf8)

bytes

In [64]:
# utf-8 to unicode conversion
val_utf8.decode('utf-8')

'español'

some different encodings

In [65]:
val.encode('latin1')

b'espa\xf1ol'

In [66]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [67]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

##### Booleans

Booleans can be combined with **and** and **or**

In [68]:
True and True

True

In [69]:
False or True

True

##### Type Casting

In [70]:
s = '3.14159'

In [71]:
fval = float(s)

In [72]:
type(fval)

float

In [73]:
int(fval)

3

In [74]:
bool(fval)

True

In [75]:
bool(0)

False

##### None

In [76]:
a = None
a is None

True

In [77]:
b = 5
b is not None

True

None is also a common default value for function arguments

In [78]:
def add_and_maybe_multiply(a, b, c = None):
    """add or multiply"""
    result = a + b
    if c is not None:
        result = result * c
    return result

In [79]:
add_and_maybe_multiply(1,2)

3

In [80]:
def add_and_maybe_multiply(a, b, c = None):
    result = a + b
    if c is not None:
        result = result * c
        return result

In [81]:
print(add_and_maybe_multiply(1,2))

None

None is not only a reserved keyword but also unique instance of NoneType

In [82]:
type(None)

NoneType

##### Dates and Times

In [83]:
from datetime import datetime, date, time # datetime, date, time are datatypes

In [84]:
dt = datetime(2011, 10, 29, 20, 30, 31) # args = (year, month, day, hour, minute, second)
dt

datetime.datetime(2011, 10, 29, 20, 30, 31)

In [85]:
dt.day, dt.minute, dt.date(), dt.time()

(29, 30, datetime.date(2011, 10, 29), datetime.time(20, 30, 31))

Format a datetime as string

In [86]:
dt.strftime("%m/%d/%Y %H:%M")

'10/29/2011 20:30'

Parse datetime from string <br>
datetime.datetime is immutable. Hence methods produces new objects

In [87]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

Difference between 2 datetime objects produces a datetime.timedelta type

In [88]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [89]:
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7169)

In [90]:
type(delta)

datetime.timedelta

Adding timedelta to a datetime

In [91]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 31)

In [92]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

##### Control Flow

if, elif, and else

In [93]:
x = -1
if x < 0:
    print('Negative')

Negative

In [94]:
if x < 0:
    print('Negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger or equal to 5')

Negative

In the below cell, **c > d** never gets evalulated because first comparision is true:

In [95]:
a, b, c, d = 0, 1, 2, 3
if a < b or c > d:
    print('Made it!')

Made it!

Chain Comparisons

In [96]:
4 > 3 > 2 > 1

True

###### For loops

<pre>
for value in condition:<br>
    # do something with value
</pre>

In [97]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence: # iterating over a collection
    if value is None:
        continue # skipping the remainder of the block using continue keyword
    total += value
total

12

In [98]:
sequence = [1, 2, None, 4, None, 5]
total_untill_5 = 0
for value in sequence: # iterating over a collection
    if value is None:
        break # exiting altogether with the break keyword
    total_untill_5 += value
total_untill_5

3

**break** keyword only terminates the innermost for loop

In [99]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

<pre>many collections like list, tuple, can be iterated conveniently

for a, b, c in iterator:
    # do something<pre>

##### while loops

In [100]:
x = 256
total = 0
while x > 0: # this block will be executed untill the condition evaluates to False
    if total > 500:
        break # block can be explicitly ended with break
    total += x
    x = x // 2
total, x

(504, 4)

##### pass

pass is a "no-op" statement (no action is required).<br>
Ex: Place holder for code not implemented yet

In [101]:
x=0

if x < 0:
    print("negative!")
elif x == 0:
    # TODO: some logic needs to be implemented here
    pass
else:
    print('positive!')

##### range

In [102]:
range(10) # returns an iterator of evenly spaced ints

range(0, 10)

In [103]:
list(range(10)) # end is always omitted

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
list(range(0, 20, 2)) # args = (start, stop, steps)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [105]:
list(range(20, 0, -2)) # with negative steps

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

Common use of range

In [106]:
seq = [1, 2, 3, 4, 5]
for i in range(len(seq)):
    print(seq[i])

1
2
3
4
5

While range generated may be **arbitarily large**, but memory use at any given time may be **very small**

In [107]:
sum_ = 0
for i in range(100000):
    # % is modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum_+=i
sum_

2333316668

##### Ternary expressions (single line if-else)

**<center>Syntax:<center>**
<center>value = true-expr if condition else false-expr</center>

In [108]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'